html{
    min-width: 320px;
}

a{
    color: #11aaea;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


.g-heading-dotted{
    color: #6a6b6b;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
.g-heading-dotted i{
    display: inline-block;
    font-style: normal;
    padding-bottom: 9px;
    border-bottom: 1px dotted #c1c2c3;
}

.g-heading-link{
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
}